
 <div id="<%= dom_id miniatura %>" class="sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Descricao:</strong>
    <strong> <%= miniatura.descricao %> </strong>
  </div>
  <div>
    <strong class="block font-medium mb-1">Colecao:</strong>
    <%= miniatura.colecao %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Linha:</strong>
    <%= miniatura.linha %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Marca carro:</strong>
    <%= miniatura.marca_carro %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Marca mini:</strong>
    <%= miniatura.marca_mini %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Ano:</strong>
    <%= miniatura.ano %>
  </div>
</div> 



  